.App {
  text-align: center;

  
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

body {
  background-color: gray;
}
.button {
  display: inline-flex;
  justify-content: center;
  padding-bottom: 2vh;
 
}

.imageDisplay {
  display: inline-flex;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 2vh;
  margin-left: 28vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movieImage{ 
display: inline-block;
height: 80vh;
margin: center; 
margin-top: 1vh; 
border: solid black 2px;
background-color: skyblue
}

.movieTitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  font-style: oblique;
  text-align: center;
}

.detailDescription {
  display: inline-block;
  justify-content: center;
  width: 100px;
  padding-right: 70vh;
}

.movieDescription {
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  word-wrap: bre;
}

 .movieContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;

 }
